name: commit-ibflex

on: [push, pull-request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    # - name: Cache pip
    #   uses: actions/cache@v2
    #   with:
    #     path: ~/.cache/pip  # This path is specific to Ubuntu
    #     # Look to see if there is a cache hit for the corresponding requirements file
    #     key: ${{ runner.os }}-pip-${{ hashFiles('requirements-development.txt') }}
    #     restore-keys: |
    #       ${{ runner.os }}-pip-
    #       ${{ runner.os }}-
    - name: Install dependencies
      run: pip install -r requirements-development.txt
    - name: Static analysis with mypy
      run: mypy ibflex tests
    - name: Test with nose
      run: nosetests -dsv --with-coverage --cover-package ibflex tests/*.py
